
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<h2 class="text-center">Welcome Back. Get Back To Work Now!</h2>
<div class="text-center">
    <img src="~/Content/ferry.Jpg" runat="server" class="rounded img-fluid" alt="Ferry">
</div>
